body{
  background:#f4f4f4;
}
a {
  color: black;
}
a.nav-item {
  background-color: white;
}
/* #header {
  background-color: #345830;
  color: white;
} */
.navbar-default {
  background-color: #94ECBE;
  color: white;
}
.form {
  margin-top: 8px;
}
.button {
  margin-top: 10px;
}
.main {
  background-color: #345830;
}
