{% extends "tracker/base.html" %}

{% load crispy_forms_tags %}

{% block body%}
  <div class="container">
    <div class="row content-justify-center">
      <div class="content-section">
        <div class="media">
          <img src="{{ user.profile.image.url }}" width="100px" class="rounded-circle account-img" alt="">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

      </div>
    </div>

  </div>


{% endblock %}
