{% extends "tracker/base.html" %}
{% load static %}

{%block body%}
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 id='banner'><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage your settings</small></h1>
      </div>
      <div class="col-md-2">
        <div class="container">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create
            </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Incident</h6>
              <a class="dropdown-item" href="/tracker/create/">Ticket</a>
              {% if request.user.is_superuser %}
              <a class="dropdown-item" href="/tracker/upload-csv/">Import CSV</a>
              {% endif %}
              <!-- <a class="dropdown-item" href="#">Users</a> -->
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">HR</h6>
              <a class="dropdown-item" href="/tracker/create/">Ticket</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Groups</h6>
              <a class="dropdown-item" href="/create_group/">Create Group</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_superuser %}
</header>
<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Dashboard</li>
    </ol>
  </div>
</section>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
            <a href="{% url 'tracker:ticket-list' %}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Tickets <span class="badge">{{ticket_count.count}}</span></a>
            <!-- <a href="#" type="button" class="list-group-item"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Inventory <span class="badge">0</span></a> -->
            <button type="button" class="btn btn-primary list-group-item" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Inventory <span class="badge">0</span></button>
            <a href="{% url 'tracker:get-users'%}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">{{ users.count }}</span></a>
          </div>

          <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inventory Feature</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        This feature will be in the next update
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>

          <div class="well">
            <h4>Urgent Ticket %</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{tik_count_percent}}" aria-valuemin="{{tik_count_percent}}" aria-valuemax="100" style="width: {{tik_count_percent}}%;">
                {{tik_count_percent}}%
              </div>
            </div>
            <h4>Open Ticket %</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{open_tik_percent}}" aria-valuemin="{{open_tik_percent}}" aria-valuemax="100" style="width: {{open_tik_percent}}%;">
                {{open_tik_percent}}%
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <!-- Website Overview -->
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title">Incidents Overview</h3>
            </div>

            <div class="myChart" id="myChart"></div>

            <div class="panel-body">
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{users.count}}</h2>
                  <h4>Users</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ticket_count.count}}</h2>
                  <h4>Incidents</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{open_tickets.count}}</h2>
                  <h4>Open Incidents</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> {{high_priority_tickets.count}}</h2>
                  <h4>Urgent Tickets</h4>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- Latest Users -->
          {% if request.user.is_superuser%}
          <div class="row">
            <div class="col">
              <div class="card card-body">
              <form class="form-group form-inline" method="get">
               {{ filter.form }}
                <button class="btn btn-primary btn-sm ml-2" type="submit" name="button">Search</button>
              </form>
            </div>
            </div>
          </div>
          {% endif %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Latest Incidents</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-hover">
                <tr>
                  <th>Ticket Id</th>
                  <th>Title</th>
                  <th>Summary</th>
                  <th>Date Created</th>
                  <th>Submitter</th>
                  <th>Status</th>
                  <th>Priority</th>
                </tr>
                {% if request.user.is_superuser %}
                {% for ticket in tickets %}
                <tr>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ ticket.ticket_id }}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.title}}[{{ticket.name}}]</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.summary}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.created_at}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.added_by}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.current_status}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.priority}}</a></td>
                </tr>
                {% endfor %}
                {% else %}
                {% for ticket in user_tickets %}
                <tr>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ ticket.name }}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.title}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.summary}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.created_at}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.added_by}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.current_status}}</a></td>
                  <td><a href="{% url 'tracker:ticket_detail' ticket.id %}">{{ticket.priority}}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>

              <ul>
                {% for hist in history %}
                {% for ticket in tickets %}
                  <li>Changes made by: {{ hist.added_by }} on {{ticket.title}}</li>
                {% endfor %}
                {% endfor %}
              </ul>
              <nav>
                  <ul class="pagination">
                    {% if tickets.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ tickets.previous_page_number }}">< Prev</a></li>
                    {% endif %}

                    {% if tickets.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ tickets.next_page_number }}">Next ></a></li>
                    {% endif %}

                    <!-- <li class="page-item"><span>Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}</span></li> -->
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

  let myConfig = {
  type: 'bar',
  title: {
    text: 'Data Basics',
    fontSize: 24,
  },
  legend: {
    draggable: true,
  },
  scaleX: {
    // Set scale label
    label: { text: 'Techs' },
    // Convert text on scale indices
    labels: [ 'Admin', 'Etty', 'John' ]
  },
  scaleY: {
    // Scale label with unicode character
    label: { text: 'Tickets' }
  },
  plot: {
    // Animation docs here:
    // https://www.zingchart.com/docs/tutorials/styling/animation#effect
    animation: {
      effect: 'ANIMATION_EXPAND_BOTTOM',
      method: 'ANIMATION_STRONG_EASE_OUT',
      sequence: 'ANIMATION_BY_NODE',
      speed: 275,
    }
  },
  series: [
    {
      // plot 1 values, linear data
      values: [23,20,27],
      text: 'Low',
    },
    {
      // plot 2 values, linear data
      values: [35,42,33],
      text: 'Medium'
    },
    {
      // plot 2 values, linear data
      values: [15,22,13],
      text: 'High'
    }
  ]
};

    zingchart.render({
      id: 'myChart',
      data: myConfig,
    });

  </script>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
...
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>



  <footer class="justify-content-center" id="footer">
    <center><p>Copyright TRackrSys, &copy; 2020</p></center>
  </footer>

  {% endblock %}
