{% extends "tracker/base.html" %}

{% block body %}

<div class="container">
  <div class="row">
    {% if request.user.is_superuser %}
    <a href="group_update/" class="btn btn-secondary btn-sm mt-3 mr-2" role="button">Edit Group</a>
    <a href="group_delete/" class="btn btn-warning btn-sm mt-3 mr-2" role="button">Delete Group</a>
    {% endif%}
  </div>
    <div class="row">
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <table class="table table-sm table-hover table-bordered mt-3" cellspacing="0" width="100%">
              <thead>
                <tr>

                  <th scope="col">Group Name</th>
                </tr>
              </thead>
              <tbody>
                  {% for groups in object_list %}
                <tr>

                  <td><a href="{% url 'tracker:group_detail' groups.id %}">{{ groups.name }}</a></td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

  <div class="row">

  </div>


{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

  {% endif %}
</ul>
</div>
{% endif %}
</div>
{% endblock %}
